#user-status-color-edit-status-form table td.tdinactive input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
#user-status-color-edit-status-form table td.tdactive input {
    background-color: #fff4f4;
    border: 1px solid #666666;
}
#user-status-color-edit-status-form table td.tdinactive .picker_wrapper {
    display:none;
}
#user-status-color-edit-status-form table td.tdactive input.error {
    border: 1px solid red;
    color: red;
}
#user-status-color-edit-status-form table td.user-status-color-operation a.op-edit {
    background: url("edit.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 16px;
    width: 16px;
}
#user-status-color-edit-status-form table td.user-status-color-operation a.op-save {
    background: url("save.png") no-repeat scroll 0 0 transparent;
    display: none;
    float: left;
    height: 16px;
    width: 16px;
}
#user-status-color-edit-status-form table td.user-status-color-operation a.op-delete {
    background: url("delete.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 16px;
    margin-left: 15px;
    width: 16px;
}